
*, ::after, ::before{
    box-sizing: inherit;

}

body{
    font-weight: 400;
    color: rgba(0, 0, 0, .9);
    line-height: 1.5;
    background-image: url(https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixlib=rb-1.2.1&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: 100%;
}

.topProfile{
    margin-left: 80px;
    border: solid 1px;
    width: 80%;
    background-color:rgba(255, 255, 255, .65);

}


.topBackgroundContainer{
    height: 100px;
}

.topBackground{
    width: 100%;
    height: 300px;

}

.profileImageContainer4{
    padding-bottom: 10px !important;
    padding-left: 240x !important;
    padding-right: 240px !important;
    margin-left: 70px;

}


.profileImageContainer3{
    text-align: left !important;
    font-size: 0;
    background: transparent;
}


.profileImageContainer2{
    width: 316px;
    height: 316px;
    box-sizing: border-box;
    background-clip: content-box;
    border: 0 solid transparent;
    border-radius: 49.9%;
    background-color: rgba(243, 246, 248, .94);
    box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15),0 1.5px 3px 0 rgba(0,0,0,.15);
    margin: auto;
    position: relative;
    margin-left: 0 !important;
    padding: 0;
    font-size: 100%;
    background: #eee;
}



.profileImageContainer1{
    background-color: transparent;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    font-size: 100%;
    background: transparent;
    text-align: left !important;

}

.profileImage{
    line-height: 0;
    margin: 8px;
    background: none;
    border: none;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    outline: 0;
    line-height: 0;
}

.profileMain1{
    text-align: left;
    margin-left: 70px;
    margin-top: 20px;
    position: relative;
    font-size: 35px;
    display: inline-block;
    width: 100%;
    padding-bottom: 15px;
    
}

.profileMain2{
    text-align: left;
    margin-left: 70px !important;
    margin-right: 50px !important;
    margin-top: 15px;
    position: relative;
    font-size: 25px;
    display: inline-block;
    
}

.profileMain2 p{
    margin: 5px;
}


.profileMain3{
    text-align: left;
    margin-left: 70px !important;
    margin-right: 50px !important;
    margin-top: 15px;
    position: relative;
    font-size: 25px;
    display: inline-block;
    
}

.profileMain3 p{
    margin: 5px;
}

.profileMain3 img{
    width: 25px;
    height: 25px;
}

.profileMain4{
    width: 100%;
    text-align: center;
    margin: none;
    position: relative;
    font-size: 25px;
    display: inline-block;
    
}


.middleProfile{

    margin-top: 40px;
    margin-left: 80px;

    width: 80%;
    background-color: rgba(255, 255, 255, .65);

}

.about{
    margin-left: 70px;
    margin-right: 70px;
    display: inline-block;
    text-align: justify;
    margin-bottom: 30px;
}

.skillsContainer{
    border: solid 1px;
    margin-left: 70px;
    margin-right: 70px;
    width: 350px;
    margin-bottom: 20px;
    line-height: 1;


}

.skills{
    position: relative;
    margin-left: 10px;    
    display: inline-block;
    text-align: left;

}

.Stars{
    background-color: mediumblue;
    color: mediumblue;
    border-radius: 5%;
    position: absolute;
    left: 250px;
}

.strengthsContainer{
    border: solid 1px;
    margin-left: 70px;
    margin-right: 70px;
    width: 350px;
    margin-bottom: 20px;
    line-height: 1;
}

.strengths{
    position: relative;
    margin-left: 70px;    
    display: inline-block;
    text-align: center;

}


.softwareContainer{
    border: solid 1px;
    margin-left: 70px;
    margin-right: 70px;
    width: 350px;
    margin-bottom: 20px;
    line-height: 1;
}

.software{
    position: relative;
    margin-left: 10px;    
    display: inline-block;
    text-align: left;
}

.experience{
    position: relative;
    width: 600px;
    float: right;
    text-align: center;
}
