
*, ::after, ::before{
    box-sizing: inherit;

}

.body{
    font-weight: 400;
    color: rgba(0, 0, 0, .9);
    line-height: 1.5;

}

.topProfile{
    margin-left: 80px;
    border: solid 1px;
    width: 80%;
}


.topBackgroundContainer{
    height: 100px;
}

.topBackground{
    width: 100%;
    height: 300px;

}

.profileImageContainer4{
    padding-bottom: 10px !important;
    padding-left: 240x !important;
    padding-right: 240px !important;
    margin-left: 70px;

}


.profileImageContainer3{
    text-align: left !important;
    font-size: 0;
    background: transparent;
}


.profileImageContainer2{
    width: 316px;
    height: 316px;
    box-sizing: border-box;
    background-clip: content-box;
    border: 0 solid transparent;
    border-radius: 49.9%;
    background-color: rgba(243, 246, 248, .94);
    box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15),0 1.5px 3px 0 rgba(0,0,0,.15);
    margin: auto;
    position: relative;
    margin-left: 0 !important;
    padding: 0;
    font-size: 100%;
    background: #eee;
}



.profileImageContainer1{
    background-color: transparent;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    font-size: 100%;
    background: transparent;
    text-align: left !important;

}

.profileImage{
    line-height: 0;
    margin: 8px;
    background: none;
    border: none;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    outline: 0;
    line-height: 0;
}

.profileMain1{
    text-align: left;
    margin-left: 70px;
    margin-top: 20px;
    position: relative;
    font-size: 35px;
    display: inline-block;
    width: 100%;
    padding-bottom: 15px;
    
}

.profileMain2{
    text-align: left;
    margin-left: 70px !important;
    margin-right: 50px !important;
    margin-top: 15px;
    position: relative;
    font-size: 25px;
    display: inline-block;
    
}

.profileMain2 p{
    margin: 5px;
}


.profileMain3{
    text-align: left;
    margin-left: 70px !important;
    margin-right: 50px !important;
    margin-top: 15px;
    position: relative;
    font-size: 25px;
    display: inline-block;
    
}

.profileMain3 p{
    margin: 5px;
}

.profileMain3 img{
    width: 25px;
    height: 25px;
}

.profileMain4{
    width: 100%;
    text-align: center;
    margin: none;
    position: relative;
    font-size: 25px;
    display: inline-block;
    
}